<header>
  <img src="../assets/shared/logo.svg" alt="logo" />
  <button (click)="toggleMobileMenu()">
    <img [src]="mobileMenuIcon" alt="mobileMenuIcon" />
  </button>
  <nav>
    <ul [class.active]="isActive">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span aria-hidden="true">00</span>
          home
        </a>
      </li>
      <li>
        <a routerLink="/destination" routerLinkActive="active">
          <span aria-hidden="true">01</span>
          destination
        </a>
      </li>
      <li>
        <a routerLink="/crew" routerLinkActive="active">
          <span aria-hidden="true">02</span>
          crew
        </a>
      </li>
      <li>
        <a routerLink="/technology" routerLinkActive="active">
          <span aria-hidden="true">03</span>
          technology
        </a>
      </li>
    </ul>
  </nav>
</header>
