@import "../../../assets/variables.scss";

.crew {
  @include pageStyle;
  padding: 1.875rem 5% 5.625rem 5%;
  row-gap: 1.875rem;
  &__heading {
    padding-bottom: 2.5rem;
  }
  &__info {
    &__image {
      @include animation;
      width: clamp(11.0625rem, 36vw, 35.5rem);
      flex-shrink: 0;
    }
    &__main {
      padding-top: 1.875rem;
      &__navigation {
        display: inline-flex;
        grid-gap: 1.25rem;
        margin-bottom: 1.25rem;
        margin-top: 2.5rem;
        margin-inline: 0.625rem;
        button {
          background: $white;
          width: 0.625rem;
          height: 0.625rem;
          border-radius: 50%;
          opacity: 0.2;
          overflow: hidden;
          color: transparent;
          &.active {
            opacity: 1;
          }
          &:hover {
            &:not(&.active) {
              scale: 1.1;
              opacity: 0.5;
            }
          }
        }
      }
      &__member {
        @include flex(column, center, center);
        @include animation;
        row-gap: 0.625rem;
        &__position {
          color: #fff;
          font-size: 1rem;
          font-family: $bellefair;
          text-transform: uppercase;
          opacity: 0.4951259195804596;
        }
        &__name {
          color: #fff;
          font-size: 1.5rem;
          font-family: $bellefair;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  .crew {
    padding-bottom: 0;
    // padding: 1.875rem 5% 5.625rem 5%;
    &__heading {
      align-self: start;
    }
    &__info {
      @include flex(column-reverse, center, center);
      &__image {
        margin-top: 5rem;
      }
      &__main {
        &__member {
          &__position {
            font-size: 1.5rem;
          }
          &__name {
            font-size: 2.5rem;
          }
          &__bio {
            max-width: 25rem;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop) {
  .crew {
    @include flex(column, flex-start, flex-start);
    text-align: start;
    padding-inline: 0;
    padding-top: 0rem;
    &__heading {
      transform: translateY(6.25rem);
      margin-left: 10%;
    }
    &__info {
      @include flex(row-reverse, space-between, center);
      min-width: 100%;
      padding-inline: 10%;
      &__image {
        margin-top: 0;
      }
      &__main {
        &__navigation {
          grid-gap: 1.875rem;
          margin-top: 5rem;
          button {
            width: 0.9375rem;
            height: 0.9375rem;
          }
        }
        &__member {
          @include flex(column, flex-start, flex-start);
          text-align: start;
          &__position {
            font-size: 2rem;
          }
          &__name {
            font-size: 3.5rem;
          }
        }
      }
    }
  }
}
