// colors
// $white: hsl(0%, 0%, 100);
$white: #ffffff;
$transWhite: #979797;

// fonts
$barlow: "Barlow", sans-serif;
$barlowCondensed: "Barlow Condensed", sans-serif;
$bellefair: "Bellefair", sans-serif;

//animation speed
// $speed: 0.5s;

// mixins
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
