/* You can add global styles to this file, and also import other style files */
@import "./assets/variables.scss";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  &.home {
    @include background(
      "./assets/home/background-home-mobile.jpg",
      "./assets/home/background-home-tablet.jpg",
      "./assets/home/background-home-desktop.jpg"
    );
  }
  &.destination {
    @include background(
      "./assets/destination/background-destination-mobile.jpg",
      "./assets/destination/background-destination-tablet.jpg",
      "./assets/destination/background-destination-desktop.jpg"
    );
  }
  &.crew {
    @include background(
      "./assets/crew/background-crew-mobile.jpg",
      "./assets/crew/background-crew-tablet.jpg",
      "./assets/crew/background-crew-desktop.jpg"
    );
  }
  &.technology {
    @include background(
      "./assets/technology/background-technology-mobile.jpg",
      "./assets/technology/background-technology-tablet.jpg",
      "./assets/technology/background-technology-desktop.jpg"
    );
  }
}

li {
  list-style: none;
}

h1 {
  font-size: 1rem;
  letter-spacing: 0.1688rem;
  text-transform: uppercase;
  font-family: $barlowCondensed;
  color: $white;
  font-weight: 100;
  span {
    font-weight: 700;
    margin-right: 0.625rem;
    color: hsla(0, 0%, 100%, 0.3);
  }
  @media (min-width: 48rem) {
    font-size: 1.25rem;
    letter-spacing: 0.2112rem;
  }
  @media (min-width: 64rem) {
    font-size: 1.75rem;
    letter-spacing: 0.295rem;
  }
}

p {
  color: #d0d6f9;
  font-family: $barlow;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  @media (min-width: 48rem) {
    max-width: 27.75rem;
    font-size: 1rem;
    line-height: 1.75rem;
  }
  @media (min-width: 64rem) {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
